.home_weather {
  .home_weather_city {
    position: relative;
    margin-top: 10px;
    height: 40px;
    padding: 0.4rem;
    padding-left: 100px;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;

    .home_weather_city_temperature {
      position: absolute;
      top: -2px;
      left: -5px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90px;
      height: 44px;
      color: white;
      font-size: 20px;
      font-style: italic;
      font-weight: 800;
      background-color: #f3c400;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 20px;
      -webkit-box-shadow: 0px 1px 4px 0px rgba(138, 138, 138, 0.9);
      -moz-box-shadow: 0px 1px 4px 0px rgba(138, 138, 138, 0.9);
      box-shadow: 0px 1px 4px 0px rgba(138, 138, 138, 0.9);
    }
  }
}
