.nav-link {
  padding: 1.2em !important;
  padding-left: 0 !important;
  padding-right: 2em !important;
}
.navbar {
  position: relative;
  font-size: 0.9em;
}

.nav-container {
  position: relative;
  .navbar__logout {
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 10000000;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
}
