// COLORS
$backgroundColor: #f2f7fa;
$titleColor: #1b49c2;
$themeColor: #051f64;
$darkerGrayText: #4b4b4b;
$darkGrayText: #7b7b7b;
$grayText: #9b9b9b;
$lightGrayText: #bbbbbb;
$ultraLightGrayText: #eeeeee;
$colorGoogle: #d5493c;
$colorLinkedIn: #1983bc;
$colorXing: #005a5f;
$colorGithub: #5c6bc0;
$errorColor: #d0021b;
$successColor: #2ad36b;
$themeYellow: #f3c400;
